 body {
            font-family: Arial, sans-serif;

        }
        h1 {
            text-align: center;
        }
        .venta {
            border: 1px solid #ccc;
            margin-bottom: 30px;
            padding: 15px;
            border-radius: 5px;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 10px;
        }
        table, th, td {
            border: 1px solid #aaa;
        }
        th, td {
            padding: 8px;
            text-align: center;
        }
        th {
            background-color: #f0f0f0;
        }