.tableco {
    border-spacing: -10px;
    padding: 10px;
    margin: 50px;
    text-align: center;
    background-color: rgb(241, 241, 241);
    width: 80%;
    border-collapse: collapse;
    margin: 20px auto;

}
.tableco th, .tableco td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    text-align: center;
}

.tableco th {
    background-color: #14caeb;
    color: black;
    padding-top: 12px;
    padding-bottom: 12px;
}

.tableco tr:nth-child(even) {
    background-color: #f9f9f9;
}

.tableco tr:hover {
    background-color: #ddd;
}
.tableco .tdcontac {
    text-align: center;
}

.tdcontac {
    background-color: rgb(209, 227, 234);
    font-size: 15px;
    padding-left: 10px;
    padding-top: 3px;
    /*Crea espacio alrededor del contenido*/
    padding-bottom: 5px;
}
.eliminar-btn {
    background-color: rgb(197, 15, 30);
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

.eliminar-btn:hover {
    background-color: rgb(138, 9, 20);
    text-decoration: underline;
}
.actualizar-btn {
    background-color: rgb(21, 69, 199);
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

.actualizar-btn:hover {
    background-color: rgb(9, 41, 131);
    text-decoration: underline;
}